#word_table {
    display: flex;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width: auto;
    margin: 0;
    padding: 0;
}
th {
    background: #f8f8f8;
    color: black;
}
th, td {
    /* cellpadding=5 */
    /* padding: 5px 10px; */
    padding: 1% 1%;
    border: 1px solid #cccccc; 
    text-align: left;
    vertical-align: top;  
}
th:first-child, td:first-child {
    text-align: center;
    width: 7%;
}
th:nth-child(2), td:nth-child(2) {
    width: 20%;
}
th:last-child, td:last-child {
    width: 73%;
}
tr:nth-child(2n){
    background: #f8f8f8;
}
